body {

  font-style: italic;
  font-family: sans-serif;
}

h1 {
  border-style: solid;
  color: blue;
  text-align: center;

}

h2 {
  color:blue;
  text-align: center;

}

h3 {
  color:blue;
  display: center

}

h4 {
  color: blue
  diesplay:left;

}

.intro {
  font-size: italic;
  text-align:center;

}
p{
  font-family: courier;
}


ul{
font-size: 20px;
line-height: 20px;

}

ol {
font-size: 20px;
line-height: 20px;

}


.container{
  text-align: center;
}

.class1 {
  color: blue;
  font-size: italic;
  font-family:sans-serif;
  margin: 20px;
  padding: 40px;
}

}

#projects {
  color: blue;
}
